@{
    Layout="Shared/_layout.cshtml";
}

<div class="col s6">
    <h2>@Model["band"].GetName()</h2>
</div>

<form action="/band/edit/@Model["band"].GetId()" method="post">
    <input type="hidden" name="_method"  value="PATCH">
    <input name="band-id" type="hidden" value="@Model["band"].GetId()">
    <label for="band-name">Band Name</label>
    <input id="band-name" name="band-name" type="text" placeholder="Please enter band's new name.">
    <button type="submit" class="btn">Update</button>
</form>

@if (@Model["venues"] != null)
{
    @if (@Model["venues"].Count > 0)
    {
        <form action="/band/add_venue" method="post">
            <input id="band-id" name="band-id" type="hidden" value='@Model["band"].GetId()'>
            <div class="input-field">
                <select id="venue-id" name="venue-id" type="text">
                    @foreach (var venue in @Model["venues"])
                    {
                        <option value="@venue.GetId()">@venue.GetName()</option>
                    }
                </select>
                <label for="venue-id">Select a venue</label>
            </div>
            <button type="submit" class="btn">Add</button>
        </form>
    }
    else
    {
        <h5>No venues have been created yet. If you would like to add a venue to @Model["band"].GetName(), please <a href="/">create a new venue first.</a></h5>
    }
}
